.container
  .row
    .jumbotron-books
.container
  .row
    .col-md-12.text-center
      %h1 Assignments
      - if can? :create, @assignment
        = link_to "New Assignment", new_assignment_path
%br
.container
  .row
    - @assignments.each do |assignment|
      .col-md-4
        %br
        %strong
          Assignment:
        = link_to assignment.name, assignment_path(assignment)
        %br
        %strong
          Description:
        = assignment.description
        %br
        %strong
          Due-Date:
        = assignment.due_date
        %br
        - if can? :update, @assignment
          = link_to "Edit", edit_assignment_path(assignment)
        - if can? :destroy, @assignment
          = link_to "Delete", assignment_path(assignment), method: :delete
        %br
        = link_to "View Submissions", assignment_submissions_path(assignment)
        %br
        = link_to "New Submission", new_assignment_submission_path(assignment)
%br