%h1 Assignments
%br
- if can? :create, @assignment
  = link_to "New Assignment", new_assignment_path
%br
.container
  .row
    - @assignments.each do |assignment|
      .col-md-4
        %br
        = link_to assignment.name, assignment_path(assignment)
        %br
        = assignment.description
        %br
        = assignment.due_date
        %br
        - if can? :update, @assignment
          = link_to "Edit", edit_assignment_path(assignment)
        - if can? :destroy, @assignment
          = link_to "Delete", assignment_path(assignment), method: :delete
        %br
        = link_to "New Submission", new_assignment_submission_path(assignment)