%h1 Assignments
%br
= link_to "New Assignment", new_assignment_path
%br
- @assignments.each do |assignment|
  %br
  = link_to assignment.name, assignment_path(assignment)
  %br
  = assignment.due_date
  %br
  = link_to "Edit", edit_assignment_path(assignment)
  = link_to "Delete", assignment_path(assignment), method: :delete
  %br
  = link_to "New Submission", new_assignment_submission_path(assignment)