%h1 Assignment
= @assignment.name
%br
= @assignment.due_date
%br
= @assignment.description
%br
********************************
%br
= nested_form_for @assignment do |f|
  = f.fields_for :comments do |comment_form|
    = comment_form.text_field :content
    = comment_form.link_to_remove "Remove this comment"
  = f.link_to_add "Add a comment", :comments