%h1 Users
.container
  .row
    - @users.each do |user|
      .col-md-4
        %br
        = link_to user.name, user_path(user)
        %br
        = user.github
        %br
        = user.email
        %br
        - if can? :update, @user
          = link_to "Edit User", edit_user_path(user)
        - if can? :destroy, @user
          = link_to "Delete User", user_path(user), method: :delete
= will_paginate @users