= form_for [@assignment, @submission] do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label :description
  = f.text_area :description
  %br
  / = link_to "Add Link", new_assignment_submission_link_path(@assignment, submission)
  = f.submit
