%h1 Submission
= @submission.name
%br
= link_to "Add Link", new_assignment_submission_link_path(@assignment, @submission)
= link_to "View Links", assignment_submission_links_path(@assignment, @submission)
%h4
  Submission Status
= workflow_state_helper_method(@submission)
%br
- if can? :update, @submission
  = submission_state?(@submission)
%h3
  Add Comment
= form_for @comment, url: create_comment_assignment_submission_path(@assignment, @submission) do |f|
  = f.label :content
  = f.text_area :content
  %br
  = f.submit
- @comments.each do |comment|
  = comment.content
  %br
  = link_to "Delete", destroy_comment_assignment_submission_path(@submission, comment), method: :delete
