= form_for @location do |f|
  = f.label :name
  = f.text_field :name, class: "form-control", placeholder: "Name"
  %br
  = f.label :address
  = f.text_field :address, class: "form-control", placeholder: "Address"
  %br
  = f.label :city
  = f.text_field :city, class: "form-control", placeholder: "City"
  %br
  = f.label :state
  = f.select :state, options_for_select(Location::STATES, f.object.state)
  %br
  = f.label :zip
  = f.text_field :zip, class: "form-control", placeholder: "Zip Code"
  %br
  = hidden_field_tag 'location[lesson_ids][]', ''
  - @lessons.each do |lesson|
    = check_box_tag 'location[lesson_ids][]', lesson.id, @location.lessons.include?(lesson)
    = lesson.name
    %br
    = lesson.description
    %br
  = f.submit class: "btn-success"