%h1 Location
= link_to "Locations", locations_path
%br
= @location.name
%br
= @location.address
%br
= @location.city
%br
= @location.state
%br
= @location.zip
%br
%h3 Courses Offered
%br
= hidden_field_tag 'location[lesson_ids][]', ''
- @lessons.each do |lesson|
  %strong 
    Name:
    = lesson.name
  %br
  Description:
  = lesson.description
  %br